.signUp .firstName {
    grid-area: firstName;
  }
  .signUp .lastName {
    grid-area: lastName;
  }
  .signUp .address {
    grid-area: address;
  }
  .signUp .state {
    grid-area: state;
  }
  .signUp .postalCode {
    grid-area: postalCode;
  }
  .signUp .nid {
    grid-area: nid;
  }
  .signUp .email {
    grid-area: email;
  }
  .signUp .password {
    grid-area: password;
  }
  .signUp .dateOfBirth {
    grid-area: dateOfBirth;
  }
  
  .signUp .customGrid {
    display: grid;
    column-gap: 20;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
      "firstName lastName" 
      "address address" 
      "state postalCode" 
      "nid dateOfBirth" 
      "email email" 
      "password password";
  }
  
  @media (max-width: 768px) {
    .signUp .customGrid {
      column-gap: 0;
      grid-template-columns: 1fr;
      grid-template-areas: 
        "firstName" 
        "lastName"
        "address" 
        "state" 
        "postalCode"
        "nid" 
        "dateOfBirth"
        "email" 
        "password";
    }
  }

  .backgroundWave {
    width: 100%;
    background-image: url("../icons/waves.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;
    position: fixed;
    bottom: 0;
    left: 0;
  } 

  .authCard {
    position: relative;
    z-index: 2;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 3px #00000047;
  }